<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="1.5.2" targetFramework="wp71" requireReinstallation="True" />
  <package id="Caliburn.Micro.BindableAppBar" version="1.0.5.0" targetFramework="wp71" requireReinstallation="True" />
  <package id="PhoneThemeManager.Source" version="2.0" targetFramework="wp71" />
</packages>